<button class="regle-button" (click)="goToHome()">
    <i class="fas fa-home"></i> Accueil
  </button>
<div class="regle-container">
    <h1>Règles de l'Application Fun Formes</h1>
    <p>
        Bienvenue dans Fun Formes, une application web éducative conçue pour vous aider à observer et à comprendre les figures géométriques.
    </p>
    <h2>Objectif de l'Application</h2>
    <p>
        L'objectif principal de Fun Formes est de vous permettre de reconnaître et de compter les différentes figures géométriques présentes dans les dessins. Grâce à cette application, vous pourrez :
    </p>
    <ul>
        <li>Observer attentivement les formes géométriques.</li>
        <li>Remplir un tableau indiquant le nombre de chaque type de figure.</li>
        <li>Améliorer votre perception des formes et renforcer votre compréhension des concepts géométriques.</li>
    </ul>
    
    <h2>Instructions d'Utilisation</h2>
    <ol>
        <li>
            <strong style="color: #FFA500">Observation :</strong> Regardez attentivement le dessin affiché dans l'application.
        </li>
        <li>
            <strong style="color: #FFA500">Comptage :</strong> Comptez le nombre de chaque type de figure géométrique dans le dessin.
        </li>
        <li>
            <strong style="color: #FFA500">Remplissage :</strong> Remplissez le tableau en indiquant le nombre de chaque figure.
        </li>
        <li>
            <strong style="color: #FFA500">Vérification :</strong> Une fois le tableau rempli, vérifiez vos réponses avec le système pour voir si vous avez bien compté les figures.
        </li>
    </ol>
    
    <h2>Règles à Suivre</h2>
    <ul>
        <li>Ne trichez pas ! Comptez les figures par vous-même pour mieux apprendre.</li>
        <li>Essayez de reconnaître les différentes formes avant de commencer à compter.</li>
        <li>Amusez-vous tout en apprenant. Plus vous pratiquez, mieux vous comprendrez les formes.</li>
    </ul>
    
    <h2>Bonnes Pratiques</h2>
    <p>
        Prenez votre temps pour observer chaque figure. Si vous êtes bloqué, n'hésitez pas à revenir en arrière et à revoir le dessin. 
    </p>
    
    <p>
        Nous espérons que Fun Formes vous aidera à développer vos compétences en géométrie tout en vous amusant !
    </p>
</div>
